@charset "UTF-8";

/*Estilos para tela*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header > h1{
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
}
li{
    display: inline-block;
    margin-left: 10px;
    background-color: darkgrey;
}
li:hover{
    border-radius: 15px;
    color: rgb(31, 31, 31);
    transform: scale(40s);
}
menu ul{
    background-color: rgb(97, 97, 97);
}
menu li{
    padding: 10px;
}
article{
    width: 600px;   
    display: block;
    margin: auto;
}